body {
  background: rgb(174, 180, 233);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

label {
  margin-top: 50px;
  font-size: 32px;
  display: block;
  width: 100%;
  flex-grow: 3;
  text-align: center;
  margin-bottom: 50px;
}

span {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

img {
  width: 40%;
  margin-top: 100px;
  border-radius: 15px;
}

.respuestas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

input {
  margin-left: 200px;
}

.boton {
  margin-left: 0;
  padding: 10px 30px;
  border-radius: 5px;
  border:none;
  background-color: rgb(99, 21, 119);
  color: white;
  margin-top: 200px;
  margin-bottom: 100px;

}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  font-size: 28px;
}

.cabezera {
  background: url("./img/fondo1.jpg"),linear-gradient(to right, #180136, #c65bf0, #ddb5f0);
  margin: 0;
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: black 2px 5px;
}

body{
  margin: 0%;
  padding: 0;
}

form{
  background:linear-gradient(to right, #180136, #c65bf0, #ddb5f0); 
  color: white;
  text-shadow: rgba(44, 39, 39, 0.712) 2px 5px 3px;
}

#root{
 
}

#bienvenida{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position:fixed;
  left: 50%;
  top: 30%;
  width: 50%;
  height: 350px;
  transform: translate(-50%);
  background:linear-gradient(to right, #180136, #c65bf0, #ddb5f0);
  border-radius: 15px;
  z-index: 1;

}

#velo{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.781);
}

#bienvenida label{
  margin: 0%;
  flex-grow: 0;
  color: white;
  text-shadow: black 2px 5px 3px;
  font-size: 35px;

}

#bienvenida input{
  width: 30%;
  margin: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #E91E63;
  background: rgba(#E91E63,0.5);
  border-radius: 5px 5px 0 0 ;
  outline: none;
  appearance: none;
  padding: 10px;


}

#bienvenida .boton{
  margin: 0%;
}